@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
* {
  scroll-behavior: smooth;
  font-size: 100%;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: Raleway;
  color: #fff;
}

@font-face {
  font-family: Post;
  font-style: normal;
  font-weight: normal;
  src: local("Post"), url("./src/Post-No-Bills-Jaffna-SemiBold.ttf.woff") format("woff");
}

.title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 36px;
  color: #d4c17f;
  max-width: 520px;
}

.logo-card {
  display: -ms-grid;
  display: grid;
}

.logo-card .logo {
  font-family: Post;
  font-size: 2.57rem;
}

.logo-card .logo-subtitle {
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.header-hero {
  height: 840px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242b33), color-stop(51.04%, rgba(52, 67, 83, 0.38)), color-stop(92.19%, #242b33)), url(./src/header-bg.png) center;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(52, 67, 83, 0.38) 51.04%, #242b33 92.19%), url(./src/header-bg.png) center;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 6fr;
      grid-template-rows: 1fr 6fr;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__link {
  color: #fff;
  line-height: 22px;
}

.header-nav__link:hover {
  color: #d4c17f;
}

.hero {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-title {
  font-size: 3rem;
  text-align: center;
}

.hero-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 80px;
          column-gap: 80px;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-container__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.hero-container__card-text {
  font-size: 1.3rem;
  text-align: center;
}

.main {
  background: #242b33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.number {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 400px;
  color: #fff;
  opacity: 0.1;
}

.number-2 {
  position: absolute;
  top: -100px;
  right: 50px;
}

.number-3 {
  position: absolute;
  top: 360px;
  left: 50px;
}

.number-4 {
  position: absolute;
  bottom: 700px;
  right: 50px;
}

.number-5 {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.about {
  padding: 120px 10px;
  max-width: 850px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.about-card {
  display: -ms-grid;
  display: grid;
  row-gap: 50px;
  justify-items: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.about-card__text {
  font-weight: 300;
  font-size: 1.2rem;
  max-width: 190px;
  text-align: center;
}

.about-card__text-last {
  max-width: 120px;
}

.appartaments {
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  row-gap: 100px;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appartaments-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px;
}

.appartaments-container__card {
  position: relative;
}

.appartaments-container__card:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 1.13rem;
}

.appartaments-container__card-image {
  width: 99%;
}

.appartaments-container__card-text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 1.3rem;
}

.postscript {
  font-size: 0.8rem;
  max-width: 255px;
  text-align: center;
  color: #e7e7e7;
}

.input {
  width: 250px;
  height: 50px;
  background: #fff;
  opacity: 0.4;
  text-indent: 40px;
  border: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.input::-webkit-input-placeholder {
  color: #555;
}

.input::-moz-placeholder {
  color: #555;
}

.input:hover {
  opacity: 0.6;
}

.input:focus {
  opacity: 0.9;
}

.button {
  border: none;
  background: #d4c17f;
  width: 250px;
  height: 50px;
  font-weight: bold;
  font-size: 1.14rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.button:hover {
  border: 1px solid #d4c17f;
  background: none;
}

.button:focus {
  outline: none;
}

.button:active {
  background: #d4c17f;
}

.booking {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242b33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242b33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url(./src/booking-bg.png), #c4c4c4 center;
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(./src/booking-bg.png), #c4c4c4 center;
  background-size: cover;
  width: 100%;
  padding: 180px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.booking-container-1 {
  max-width: 535px;
  padding: 0 10px;
  display: -ms-grid;
  display: grid;
  row-gap: 40px;
  justify-items: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.booking-container-1__text {
  font-size: 1.14rem;
}

.booking-container-2 {
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.video {
  width: 860px;
}

.map {
  padding: 180px 0;
  width: 80%;
  display: -ms-grid;
  display: grid;
  row-gap: 100px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  row-gap: 50px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0 20px 180px;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.footer {
  background: #2d343c;
  padding: 60px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[4];
      grid-template-columns: repeat(4, -webkit-max-content);
      grid-template-columns: repeat(4, max-content);
  -webkit-column-gap: 8%;
          column-gap: 8%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer-nav {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
}

.footer-nav__link {
  letter-spacing: 0.05em;
  color: #fff;
}

.footer-nav__link:hover {
  color: #d4c17f;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
}

.footer-container__text {
  letter-spacing: 0.05em;
}

.footer-container__text-link {
  color: #d4c17f;
}

.footer-container__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  display: grid;
  max-width: 175px;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container__card-link:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */