$color-primary: #fff;
$bg-primary: #242b33;
$color-accent: #d4c17f;
$color-postscript: #e7e7e7;
$color-input: #555;
$bg-input: #fff;
$bg-secondary: #2d343c;

/////////////////////////////////

* {
    scroll-behavior: smooth;
    font-size: 100%;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: Raleway;
    color: $color-primary;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

@font-face {
    font-family: Post;
    font-style: normal;
    font-weight: normal;
    src: local("Post"),
        url("./src/Post-No-Bills-Jaffna-SemiBold.ttf.woff") format("woff");
}

@mixin items($jitems, $aitems) {
    justify-items: $jitems;
    align-items: $aitems;
}

@mixin transist {
    transition: all 0.4s ease;
}

.title {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 36px;
    color: $color-accent;
    max-width: 520px;
}

.logo-card {
    display: grid;

    .logo {
        font-family: Post;
        font-size: 2.57rem;

        &-subtitle {
            letter-spacing: 0.12em;
            text-transform: uppercase;
            font-size: 0.8rem;
        }
    }
}

.header-hero {
    height: 840px;
    background: linear-gradient(
            180deg,
            #242b33 11.98%,
            rgba(52, 67, 83, 0.38) 51.04%,
            #242b33 92.19%
        ),
        url(./src/header-bg.png) center;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    @include items(center, center);

    &-nav {
        display: grid;
        grid-column: 2 / 3;
        column-gap: 30px;
        grid-template-columns: repeat(5, auto);
        @include items(center, center);

        &__link {
            color: $color-primary;
            line-height: 22px;

            &:hover {
                color: $color-accent;
            }
        }
    }
}

.hero {
    display: grid;
    @include items(center, center);

    &-title {
        font-size: 3rem;
        text-align: center;
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 80px;
        @include items(start, center);

        &__card {
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: 15px;

            &-text {
                font-size: 1.3rem;
                text-align: center;
            }
        }
    }
}

.main {
    background: $bg-primary;
    display: flex;
    @include items(unset, center);
    flex-direction: column;
    position: relative;
}

.number {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 400px;
    color: $color-primary;
    opacity: 0.1;

    &-2 {
        position: absolute;
        top: -100px;
        right: 50px;
    }
    &-3 {
        position: absolute;
        top: 360px;
        left: 50px;
    }
    &-4 {
        position: absolute;
        bottom: 700px;
        right: 50px;
    }
    &-5 {
        position: absolute;
        bottom: 50px;
        left: 50px;
    }
}

.about {
    padding: 120px 10px;
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 30px;
    @include items(center, start);

    &-card {
        display: grid;
        row-gap: 50px;
        @include items(center, unset);

        &__text {
            font-weight: 300;
            font-size: 1.2rem;
            max-width: 190px;
            text-align: center;

            &-last {
                max-width: 120px;
            }
        }
    }
}

.appartaments {
    padding: 0 20px;
    display: grid;
    row-gap: 100px;
    @include items(start, center);

    &-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 25px;

        &__card {
            position: relative;

            &:hover::after {
                content: attr(data-title);
                position: absolute;
                top: 20px;
                right: 10px;
                font-size: 1.13rem;
            }

            &-image {
                width: 99%;
            }

            &-text {
                position: absolute;
                left: 40px;
                bottom: 40px;
                font-size: 1.3rem;
            }
        }
    }
}

.postscript {
    font-size: 0.8rem;
    max-width: 255px;
    text-align: center;
    color: $color-postscript;
}

.input {
    width: 250px;
    height: 50px;
    background: $bg-input;
    opacity: 0.4;
    text-indent: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    @include transist;

    &::-webkit-input-placeholder {
        color: $color-input;
    }
    &::-moz-placeholder {
        color: $color-input;
    }

    &:hover {
        opacity: 0.6;
    }

    &:focus {
        opacity: 0.9;
    }
}

.button {
    border: none;
    background: $color-accent;
    width: 250px;
    height: 50px;
    font-weight: bold;
    font-size: 1.14rem;
    color: $color-primary;
    cursor: pointer;
    @include transist;

    &:hover {
        border: 1px solid $color-accent;
        background: none;
    }

    &:focus {
        outline: none;
    }

    &:active {
        background: $color-accent;
    }
}

.booking {
    background: linear-gradient(
            180deg,
            #242b33 10.42%,
            rgba(36, 43, 51, 0) 50.52%,
            #242b33 90.1%
        ),
        linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
        url(./src/booking-bg.png), #c4c4c4 center;
    background-size: cover;
    width: 100%;
    padding: 180px 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    @include items(center, end);

    &-container-1 {
        max-width: 535px;
        padding: 0 10px;
        display: grid;
        row-gap: 40px;
        @include items(start, start);

        &__text {
            font-size: 1.14rem;
        }
    }

    &-container-2 {
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
        @include items(center, end);
    }
}

.video {
    width: 860px;
}

.map {
    padding: 180px 0;
    width: 80%;
    display: grid;
    row-gap: 100px;
    @include items(center, center);
}

.answers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 50px;
    max-width: max-content;
    padding: 0 20px 180px;
    @include items(start, center);

    &-container {
        display: flex;
        row-gap: 30px;
        flex-wrap: wrap;
        @include items(center, end);
        column-gap: 20px;
    }
}

.footer {
    background: $bg-secondary;
    padding: 60px 20px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 8%;
    justify-content: center;
    @include items(center, start);

    &-nav {
        display: grid;
        row-gap: 15px;

        &__link {
            letter-spacing: 0.05em;
            color: $color-primary;

            &:hover {
                color: $color-accent;
            }
        }
    }

    &-container {
        display: grid;
        row-gap: 15px;

        &__text {
            letter-spacing: 0.05em;

            &-link {
                color: $color-accent;
            }
        }

        &__card {
            display: grid;
            grid-template-columns: repeat(4, auto);
            display: grid;
            max-width: 175px;
            @include items(start, center);

            &-link:hover {
                opacity: 0.7;
            }
        }
    }
}
